# Data Collection, Cleaning, and Pre-processing


The following code demonstrates our steps in collecting, cleaning, and pre-processing our data.

## Data Collection - EPA Water Quality Data

The dataset examined here was obtained from the US Environmental Protection Agency (EPA): https://www.epa.gov/dwucmr/occurrence-data-unregulated-contaminant-monitoring-rule#4. There are multiple files that contain water quality data points for PFAS contamination over the years throughout the United States. Only UCMR 5, which contains PFAS data for 2023-2025, and UCMR 3, which contains PFAS data from 2013 to 2015 were used. UCMR 4 contained contaminant data for various types of carcinogens, heavy metals, etc. but not PFAS. UCMR, or the Unregulated Contaminant Monitoring Rule, is how the EPA collects data for contaminants that might be in drinking water but do not have regulatory standards under the Safe Drinking Water Act.

The data was collected through a script that outputs the zip file from a given website. This dataset is relevant to our research questions since it contains the PFAS levels that were sampled in our water sources across the country. We are interested in determining how PFAS contamination varies with other parameters such as geography, time, poverty, state boundaries, water sources, etc. This will allow for us to further analyze contamination patterns and identify at-risk areas and populations.

In [3]:
# Import necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import requests
import matplotlib.patches as patches
import geopandas as gpd
from scipy import stats
import seaborn as sns
import re
from IPython.display import display
import zipfile
import io

### Collecting the data from EPA's website

In [4]:
# Target directory
directory ='C:/Users/chenc/Downloads/ucmr_data'

def get_epa_data(url, directory):
    # Send a GET request to the URL
    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        print('Download started...')

        # Open the zip file from the response content
        with zipfile.ZipFile(io.BytesIO(response.content)) as zip_ref:
            # Extract all the contents of the zip file into the custom directory
            zip_ref.extractall(directory)

        print(f'Download and extraction completed. Files saved in {directory}')
    else:
        print(f'Failed to download data. HTTP status code: {response.status_code}')
    print(os.getcwd())

# URL for the ZIP file
urls = ['https://www.epa.gov/system/files/other-files/2023-08/ucmr5-occurrence-data.zip',
        'https://www.epa.gov/system/files/other-files/2024-04/ucmr3-occurrence-data.zip']


for link in urls:
    get_epa_data(link, directory)

Download started...
Download and extraction completed. Files saved in C:/Users/chenc/Downloads/ucmr_data
/content
Download started...
Download and extraction completed. Files saved in C:/Users/chenc/Downloads/ucmr_data
/content

The datasets are then uploaded to Github where all collaborators can pull from to avoid having to use local storage.

### Data Cleaning and Preprocessing

The raw datasets are read into a dataframe and combined.

In [5]:
#Read in data from first file
ucmr3=pd.read_csv("https://github.com/chencheny249/DataMiningProjSpring2025/blob/5777a5bb0d8dd7eaa06f48730eb5c3c39cf282ae/UCMR3_All.txt?raw=true", encoding='ISO-8859-1', delimiter='\t')
ucmr3.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,0.07,µg/L,EPA 522,<,NaN,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,20.00,µg/L,EPA 300.1,=,160.0,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,0.20,µg/L,EPA 200.8,<,NaN,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,0.30,µg/L,EPA 200.8,=,72.0,SE1,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,1.00,µg/L,EPA 200.8,<,NaN,SE1,AM,1,01,NaN

In [6]:
#Read in data from last file
ucmr5=pd.read_csv("https://github.com/chencheny249/DataMiningProjSpring2025/blob/5777a5bb0d8dd7eaa06f48730eb5c3c39cf282ae/UCMR5_All.txt?raw=true", encoding='ISO-8859-1', delimiter='\t')
ucmr5.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.002,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.005,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.004,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.003,µg/L,EPA 533,=,0.0035,SE1,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.007,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN

In [7]:
#merge datasets
comb_df=pd.concat([ucmr5, ucmr3], ignore_index=True, sort=False)
comb_df.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.002,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.005,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.004,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.003,µg/L,EPA 533,=,0.0035,SE1,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.007,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN

In [8]:
#Check if merge worked
ucmr5.shape[0]+ucmr3.shape[0]==comb_df.shape[0]

True

We checked for any NA's. There are a quite a few in certain columns. How we handled the NAs are described below.

In [9]:
#Check for NAs
comb_df.isna().sum()

PWSID                            0
PWSName                          0
Size                             0
FacilityID                      60
FacilityName                    30
FacilityWaterType                0
SamplePointID                    0
SamplePointName                  0
SamplePointType                  0
AssociatedFacilityID       1570414
AssociatedSamplePointID    1570414
CollectionDate                   0
SampleID                         0
Contaminant                      0
MRL                              0
Units                            0
MethodID                         0
AnalyticalResultsSign            0
AnalyticalResultValue      2138363
SampleEventCode                  0
MonitoringRequirement            0
Region                           0
State                            0
UCMR1SampleType            2430841
dtype: int64

FacilityID and FacilityName: since they refer to the same thing, any FacilityName with a NA will be filled with its corresponding FacilityID, if there is one.

AssociatedFacilityID and AssociatedSamplePointID: these are all null per the dataset technical documents. These columns will be deleted.

MRL: Certain contaminants do not have a MRL (minimum reporting level). This value does not have any health implications - it is just the lowest value that labs can report. NAs will be replaced with -1. It is the Anlaytical Result Value that tells us the actual concentration.

AnalyticalResultValue: per the technical documentation provided by the EPA, this value is NA when it is under the MRL. For all intents and purposes, these NAs will be replaced with 0 since they are lower than the minimum value labs need to report.

UCMR1SampleType: This is not needed for our analysis and will be deleted.

In [10]:
#Fill NAs as described above
comb_df.fillna({'AnalyticalResultValue':0}, inplace=True)
comb_df.fillna({'FacilityName':comb_df['FacilityID']}, inplace=True)
comb_df.fillna({'MRL':-1}, inplace=True)

Since there are so many columns, I will be removing a bunch that are unnecessary or redundant. PWSName and PWSID are redundant since they refer to the same PWS, just either with a number or the actual name. In case we need to look it up later, a dictionary connecting the names and the corresponding IDs were made, and the PWSID column was dropped. The other dropped columns did not aid our investigation, hence why they were removed.

In [11]:
#Create dictionary for PWS Names and IDs (ID column will be deleted, the dictionary allows us to call it back by name)
PWS_dict=dict(zip(comb_df['PWSName'],comb_df['PWSID']))
PWS_dict['Mashantucket Pequot Water System']

'010106001'

In [12]:
#Drop unnecessary columns
comb_df=comb_df.drop(['PWSID','FacilityID', 'SamplePointID', "MethodID", "AssociatedFacilityID","AssociatedSamplePointID","SampleEventCode","UCMR1SampleType"],axis=1)
comb_df.head()

,PWSName,Size,FacilityName,FacilityWaterType,SamplePointName,SamplePointType,CollectionDate,SampleID,Contaminant,MRL,Units,AnalyticalResultsSign,AnalyticalResultValue,MonitoringRequirement,Region,State
0,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,9Cl-PF3ONS,0.002,µg/L,<,0.0000,AM,1,01
1,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,8/9/2023,810-73346-1,NEtFOSAA,0.005,µg/L,<,0.0000,AM,1,01
2,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,PFNA,0.004,µg/L,<,0.0000,AM,1,01
3,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,PFHpA,0.003,µg/L,=,0.0035,AM,1,01
4,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,8/9/2023,810-73346-1,PFTrDA,0.007,µg/L,<,0.0000,AM,1,01

In [13]:
#Check for NAs - None!
comb_df.isna().sum()

PWSName                  0
Size                     0
FacilityName             0
FacilityWaterType        0
SamplePointName          0
SamplePointType          0
CollectionDate           0
SampleID                 0
Contaminant              0
MRL                      0
Units                    0
AnalyticalResultsSign    0
AnalyticalResultValue    0
MonitoringRequirement    0
Region                   0
State                    0
dtype: int64

Here is an overview of the data.

In [14]:
"""Data overview"""

# Display dataset overview
print("\n📌 Dataset Shape (Rows, Columns):")
print(comb_df.shape)

print("\n📌 Column Names:")
print(comb_df.columns.tolist())

print("\n📌 General Info:")
comb_df.info()  # No need to use print() since info() already prints output

print("\n📌 Missing Values Count per Column:")
print(comb_df.isna().sum())

print("\n📌 Percentage of Missing Values per Column:")
print(comb_df.isna().mean() * 100)

print("\n📌 Unique Value Count per Column:")
print(comb_df.nunique())

print("\n📌 Summary Statistics for Categorical Columns:")
print(comb_df.describe(include="object"))

print("\n📌 Number of Duplicate Rows:")
print(comb_df.duplicated().sum())

print("\n📌 Columns with Only One Unique Value:")
print(comb_df.nunique()[comb_df.nunique() == 1])

📌 Dataset Shape (Rows, Columns):
(2430841, 16)

📌 Column Names:
['PWSName', 'Size', 'FacilityName', 'FacilityWaterType', 'SamplePointName', 'SamplePointType', 'CollectionDate', 'SampleID', 'Contaminant', 'MRL', 'Units', 'AnalyticalResultsSign', 'AnalyticalResultValue', 'MonitoringRequirement', 'Region', 'State']

📌 General Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2430841 entries, 0 to 2430840
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   PWSName                object
 1   Size                   object
 2   FacilityName           object
 3   FacilityWaterType      object
 4   SamplePointName        object
 5   SamplePointType        object
 6   CollectionDate         object
 7   SampleID               object
 8   Contaminant            object
 9   MRL                    float64
 10  Units                  object
 11  AnalyticalResultsSign  object
 12  AnalyticalResultValue  float64
 13  MonitoringRequirement  object
 14  Region                 int64
 15  State                  object
dtypes: float64(2), int64(1), object(13)
memory usage: 296.7+ MB

📌 Missing Values Count per Column:
PWSName                  0
Size                     0
FacilityName             0
FacilityWaterType        0
SamplePointName          0
SamplePointType          0
CollectionDate           0
SampleID                 0
Contaminant              0
MRL                      0
Units                    0
AnalyticalResultsSign    0
AnalyticalResultValue    0
MonitoringRequirement    0
Region                   0
State                    0
dtype: int64

📌 Percentage of Missing Values per Column:
PWSName                  0.0
Size                     0.0
FacilityName             0.0
FacilityWaterType        0.0
SamplePointName          0.0
SamplePointType          0.0
CollectionDate           0.0
SampleID                 0.0
Contaminant              0.0
MRL                      0.0
Units                    0.0
AnalyticalResultsSign    0.0
AnalyticalResultValue    0.0
MonitoringRequirement    0.0
Region                   0.0
State                    0.0
dtype: float64

📌 Unique Value Count per Column:
PWSName                   13740
Size                          2
FacilityName              20827
FacilityWaterType             4
SamplePointName           29090
SamplePointType               2
CollectionDate             1605
SampleID                 211153
Contaminant                  62
MRL                          27
Units                         3
AnalyticalResultsSign         2
AnalyticalResultValue     21917
MonitoringRequirement         3
Region                       10
State                        65
dtype: int64

📌 Summary Statistics for Categorical Columns:
                               PWSName     Size         FacilityName  \
count                          2430841  2430841              2430841
unique                           13740        2                20827
top     Suffolk County Water Authority        L  Distribution System
freq                             15806  1759931               148095

       FacilityWaterType              SamplePointName SamplePointType  \
count            2430841                      2430841         2430841
unique                 4                        29090               2
top                   GW  Entry Point to Dist. System              EP
freq             1432614                       211539         2240530

       CollectionDate SampleID Contaminant    Units AnalyticalResultsSign  \
count         2430841  2430841     2430841  2430841               2430841
unique           1605   211153          62        3                     2
top        11/14/2023    EP001       PFHpA     µg/L                     <
freq             8522       91       82296  2425621               2138363

       MonitoringRequirement    State
count                2430841  2430841
unique                     3       65
top                       AM       CA
freq                 2343051   363717

📌 Number of Duplicate Rows:
0

📌 Columns with Only One Unique Value:
Series([], dtype: int64)

In [15]:
"""Data overview 2: list of unique values per column"""

for col in comb_df.columns:
    unique_values = comb_df[col].unique()  # Get unique values
    print(f"\n📌 Unique values in column: {col} ({len(unique_values)} unique values)")
    print(unique_values[:10])  # Show only first 10 unique values for readability

📌 Unique values in column: PWSName (13740 unique values)
['Mashantucket Pequot Water System' 'Mohegan Tribal Utility Authority'
 'CATTARAUGUS CWS' 'POARCH CREEK UTILITIES - WEST' 'CHEROKEE WATER SYSTEM'
 'EAST BAY WATER WORKS' 'HANNAHVILLE COMMUNITY'
 'LITTLE RIVER TRIBAL WATER SYSTEM' 'VINELAND' 'PRAIRIE ISLAND']

📌 Unique values in column: Size (2 unique values)
['L' 'S']

📌 Unique values in column: FacilityName (20827 unique values)
['MPTN WTP' 'Blended Tank' 'Richardson Road Wells Treatment'
 'Connection to Erie County' 'MAIN PLANT-WEST WELL#1'
 'TULLIS TP - EAST WELL#2' 'Treatment Plant' 'Treatment Plant #1'
 'Treatment Plant #2' 'Hannahville Water Operations']

📌 Unique values in column: FacilityWaterType (4 unique values)
['GU' 'SW' 'GW' 'MX']

📌 Unique values in column: SamplePointName (29090 unique values)
['Entry point to Dist. System' 'Entry Point to Dist. System'
 'Finished Water Sample Tap - Treatment Plant POE'
 'Sample Tap @ Erie County POE' 'West Well-WELL#1' 'EAST Well-WELL#2'
 'Treatment Plant Sample Tap' 'TP#1 Entry Point Sample Tap'
 'TP#2 Entry Point Sample Tap'
 'Hannahville WTP Aftr Treatment + Before Distr']

📌 Unique values in column: SamplePointType (2 unique values)
['EP' 'MR']

📌 Unique values in column: CollectionDate (1605 unique values)
['9/27/2023' '8/9/2023' '10/10/2023' '2/7/2024' '1/10/2024' '5/13/2024'
 '4/3/2024' '7/22/2024' '10/28/2024' '1/31/2024']

📌 Unique values in column: SampleID (211153 unique values)
['810-79458-1' '810-73346-1' '810-81002-1' '810-93091-1' '810-90345-1'
 '810-104400-1' '810-99386-1' '810-105027-1' '810-112695-1' '810-125996-1']

📌 Unique values in column: Contaminant (62 unique values)
['9Cl-PF3ONS' 'NEtFOSAA' 'PFNA' 'PFHpA' 'PFTrDA' 'PFHxS' 'ADONA' 'PFTA'
 'PFOA' 'NMeFOSAA']

📌 Unique values in column: MRL (27 unique values)
[2.e-03 5.e-03 4.e-03 3.e-03 7.e-03 8.e-03 6.e-03 9.e+00 2.e-02 7.e-02]

📌 Unique values in column: Units (3 unique values)
['µg/L' 'GC/L' 'MPN/L']

📌 Unique values in column: AnalyticalResultsSign (2 unique values)
['<' '=']

📌 Unique values in column: AnalyticalResultValue (21917 unique values)
[0.     0.0035 0.0074 0.0092 0.0036 0.0063 0.0182 0.0062 0.0071 0.0185]

📌 Unique values in column: MonitoringRequirement (3 unique values)
['AM' 'SS' 'PST']

📌 Unique values in column: Region (10 unique values)
[ 1  2  4  5  6  8  9 10  3  7]

📌 Unique values in column: State (65 unique values)
['01' '02' '04' '05' '06' '08' '09' '10' 'AK' 'AL']

Since the data contains more than just PFAS - there are heavy metals and other carcinogens, we filtered it for just PFAS values. The other contaminants are important, but beyond the scope of this study. Since we want to know how PFAS contamination behaves over time, we converted the CollectionDate to a datetime format and added columns for Year and Month for easier retrieval and analysis later.

We also calculated which samples had a measured value over or under the MRL, or minimum required level. This is the minimum level labs are required to report to the EPA. While the MRL does not have any health indications, knowing that some contaminants are not at the MRL while some are over is still useful. The number of values that are above or at/below the MRL are counted, and for those that are above, the relative contamination level is calculated by taking the recorded value divided by the MRL.

In [16]:
"""Data preprocessing 1: filter for PFAS, add cols for Year and Month, calculate relative contamination levels"""


# Filter data for PFAS contaminants
pfas_list = [
    "PFOA", "PFBS", "PFHpA", "PFHxS", "PFNA", "PFOS", "9Cl-PF3ONS", "NEtFOSAA",
    "PFTrDA", "ADONA", "PFTA", "NMeFOSAA", "PFHxA", "HFPO-DA", "PFPeS", "PFHpS",
    "PFDoA", "PFMPA", "11Cl-PF3OUdS", "PFDA", "PFEESA", "PFUnA", "PFBA", "PFPeA",
    "8:2 FTS", "NFDHA", "6:2 FTS", "4:2 FTS", "PFMBA"
]

df_PFAS = comb_df[comb_df["Contaminant"].isin(pfas_list)].copy()


# Convert 'CollectionDate' to datetime, drop rows with missing datetime string
# Add cols for Year and Month
df_PFAS["CollectionDate"] = pd.to_datetime(df_PFAS["CollectionDate"], errors='coerce')
df_PFAS = df_PFAS.dropna(subset=["CollectionDate"])

df_PFAS["Year"] = df_PFAS["CollectionDate"].dt.year
df_PFAS["Month"] = df_PFAS["CollectionDate"].dt.month


# Add cols for MRL level exceeded: Count '<' and '=' occurrences and create seperate columns, add a col for count of both (total)
df_PFAS.loc[:, 'Count_Less_Than'] = (df_PFAS['AnalyticalResultsSign'] == '<').astype(int)
df_PFAS.loc[:, 'Count_Equals'] = (df_PFAS['AnalyticalResultsSign'] == '=').astype(int)
df_PFAS.loc[:, "Total_Values"] = df_PFAS["Count_Less_Than"] + df_PFAS["Count_Equals"]

# Add a column for proportion of contaminated samples
df_PFAS['Equals_Per_Total'] = df_PFAS['Count_Equals'] / df_PFAS['Total_Values']


# Add col for Relative Contamination level (delta AnalyticalResultValue / MRL); only for values with AnalyticalResultsSign "="
# This divides the measured value for samples exceeding the threshold MRL, by the MRL value
# Result is a measure how much the MRL is exceeded
df_PFAS.loc[df_PFAS["AnalyticalResultsSign"] == "=", "Relative_Contamination_Level"] = (
    df_PFAS["AnalyticalResultValue"] / df_PFAS["MRL"]
)


print("\n📌 Processed data -- General Info:")
df_PFAS.info()

display(df_PFAS)

📌 Processed data -- General Info:
<class 'pandas.core.frame.DataFrame'>
Index: 1537584 entries, 0 to 2430840
Data columns (total 23 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   PWSName                       1537584 non-null  object
 1   Size                          1537584 non-null  object
 2   FacilityName                  1537584 non-null  object
 3   FacilityWaterType             1537584 non-null  object
 4   SamplePointName               1537584 non-null  object
 5   SamplePointType               1537584 non-null  object
 6   CollectionDate                1537584 non-null  datetime64[ns]
 7   SampleID                      1537584 non-null  object
 8   Contaminant                   1537584 non-null  object
 9   MRL                           1537584 non-null  float64
 10  Units                         1537584 non-null  object
 11  AnalyticalResultsSign         1537584 non-null  object
 12  AnalyticalResultValue         1537584 non-null  float64
 13  MonitoringRequirement         1537584 non-null  object
 14  Region                        1537584 non-null  int64
 15  State                         1537584 non-null  object
 16  Year                          1537584 non-null  int32
 17  Month                         1537584 non-null  int32
 18  Count_Less_Than               1537584 non-null  int64
 19  Count_Equals                  1537584 non-null  int64
 20  Total_Values                  1537584 non-null  int64
 21  Equals_Per_Total              1537584 non-null  float64
 22  Relative_Contamination_Level  27957 non-null    float64
dtypes: datetime64[ns](1), float64(4), int32(2), int64(4), object(12)
memory usage: 302.1+ MB

,PWSName,Size,FacilityName,FacilityWaterType,SamplePointName,SamplePointType,CollectionDate,SampleID,Contaminant,MRL,...,MonitoringRequirement,Region,State,Year,Month,Count_Less_Than,Count_Equals,Total_Values,Equals_Per_Total,Relative_Contamination_Level
0,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-09-27,810-79458-1,9Cl-PF3ONS,0.002,...,AM,1,01,2023,9,1,0,1,0.0,NaN
1,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-08-09,810-73346-1,NEtFOSAA,0.005,...,AM,1,01,2023,8,1,0,1,0.0,NaN
2,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-09-27,810-79458-1,PFNA,0.004,...,AM,1,01,2023,9,1,0,1,0.0,NaN
3,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-09-27,810-79458-1,PFHpA,0.003,...,AM,1,01,2023,9,0,1,1,1.0,1.166667
4,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-08-09,810-73346-1,PFTrDA,0.007,...,AM,1,01,2023,8,1,0,1,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430825,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFBS,0.090,...,AM,8,WY,2015,12,1,0,1,0.0,NaN
2430826,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFHpA,0.010,...,AM,8,WY,2015,12,1,0,1,0.0,NaN
2430827,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFHxS,0.030,...,AM,8,WY,2015,12,1,0,1,0.0,NaN
2430828,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFNA,0.020,...,AM,8,WY,2015,12,1,0,1,0.0,NaN
2430840,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFOS,0.040,...,AM,8,WY,2015,12,1,0,1,0.0,NaN

## Data Collection - US Poverty Data
The dataset examined here was obtained from https://www.census.gov/data/developers/data-sets/Poverty-Statistics.html, and provides small area income and poverty esitmates (SAIPE) of income and poverty statistics from states. The data aims to provide estimates of income and poverty for the administration of federal programs.

The data was collected through an API call from census.gov. The code for the API implementation is given below. This dataset is relevant to our research questions since we are interested in determining if PFAs contamination have any correlation with poverty levels, as well as region. It also provides insight into population/density features and their relationship with poverty levels, which may also provide further details on the risk of PFAs.

In [17]:
#API REQUEST TO GET POVERTY DATA

url = "https://api.census.gov/data/timeseries/poverty/saipe"
params = {
    #SPECFIC VARIABLES OF INTEREST - Ensuring Project Relevance
    # Added County Column
    "get": "NAME,COUNTY,SAEMHI_PT,SAEPOV0_17_PT,SAEPOVRT0_17_PT,SAEPOVALL_PT,SAEPOVRTALL_PT,SAEPOVU_0_17,SAEPOVU_ALL,STABREV,STATE,YEAR",
    "for": "county:*",
    "in": "state:*"
}

response = requests.get(url, params=params)
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data[1:], columns=data[0])

else:
    print(f"Request failed with status code {response.status_code}")

# CREATE DATA FRAME
df = pd.DataFrame(data[1:], columns=data[0])

### Data Cleaning and Preprocessing

### Understanding the Data

The following code cleans this dataset to make it more suitable for further analysis. Missing values, duplicates, or any outliers are assessed along with updating the dataset to include more interpretable column names and only include relevant years in relation to the other dataset used (EPA data). It also assess the data for completeness, consistency, and usability.

In [18]:
# Making Column Names more interpretable
df = df.rename(columns={'SAEMHI_PT': 'Median_Income',
                        'SAEPOV0_17_PT': 'Child_Poverty_Count',
                        'SAEPOVRT0_17_PT': 'Child_Poverty_Rate',
                        'SAEPOVALL_PT': 'Poverty_Count',
                        'SAEPOVRTALL_PT': 'Poverty_Rate',
                        'SAEPOVU_0_17': 'All_Child_Poverty_Count',
                        'SAEPOVU_ALL': 'All_Poverty_Count'})

# Drop redundant Columns
df = df.drop(columns = [ 'state' ])


# Convert Columns to proper data type
exclude_columns = ['NAME', 'STABREV']
columns_to_convert = [col for col in df.columns if col not in exclude_columns]
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce', downcast='integer')

# Filter for relevant years
years_of_interest = [2013, 2014, 2015, 2018, 2019, 2020, 2023]
df = df[df['YEAR'].isin(years_of_interest)]

# Examine Data Types
df.info()

# Check first few rows (adding County as name)
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 21998 entries, 62832 to 97400
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NAME                     21998 non-null  object
 1   COUNTY                   21998 non-null  int16
 2   Median_Income            21991 non-null  float64
 3   Child_Poverty_Count      21991 non-null  float64
 4   Child_Poverty_Rate       21991 non-null  float64
 5   Poverty_Count            21991 non-null  float64
 6   Poverty_Rate             21991 non-null  float64
 7   All_Child_Poverty_Count  21991 non-null  float64
 8   All_Poverty_Count        21991 non-null  float64
 9   STABREV                  21998 non-null  object
 10  STATE                    21998 non-null  int8
 11  YEAR                     21998 non-null  int16
 12  county                   21998 non-null  int16
dtypes: float64(7), int16(3), int8(1), object(2)
memory usage: 1.8+ MB

,NAME,COUNTY,Median_Income,Child_Poverty_Count,Child_Poverty_Rate,Poverty_Count,Poverty_Rate,All_Child_Poverty_Count,All_Poverty_Count,STABREV,STATE,YEAR,county
62832,Autauga County,1,51868.0,2724.0,19.6,7397.0,13.5,13903.0,54762.0,AL,1,2013,1
62833,Baldwin County,3,47539.0,8994.0,20.8,27429.0,14.2,43240.0,192931.0,AL,1,2013,3
62834,Barbour County,5,30981.0,2393.0,42.4,6654.0,28.2,5644.0,23617.0,AL,1,2013,5
62835,Bibb County,7,39781.0,1664.0,35.6,4689.0,23.1,4679.0,20266.0,AL,1,2013,7
62836,Blount County,9,44392.0,3637.0,26.6,9878.0,17.2,13648.0,57315.0,AL,1,2013,9

In [19]:
missing_rows = df[df.isna().any(axis=1)]

# View rows with missing data
missing_rows.head()

,NAME,COUNTY,Median_Income,Child_Poverty_Count,Child_Poverty_Rate,Poverty_Count,Poverty_Rate,All_Child_Poverty_Count,All_Poverty_Count,STABREV,STATE,YEAR,county
63380,Kalawao County,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HI,15,2013,5
66523,Kalawao County,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HI,15,2014,5
69665,Kalawao County,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HI,15,2015,5
79091,Kalawao County,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HI,15,2018,5
82233,Kalawao County,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HI,15,2019,5

In [20]:
#Exaimine NA Values
# Fill missing values for a specific column with the median (less susceptible to outliers)
df['Median_Income'] = df['Median_Income'].fillna(df['Median_Income'].median())
df['Child_Poverty_Count'] = df['Child_Poverty_Count'].fillna(df['Child_Poverty_Count'].median())
df['Child_Poverty_Rate'] = df['Child_Poverty_Rate'].fillna(df['Child_Poverty_Rate'].median())
df['Poverty_Count'] = df['Poverty_Count'].fillna(df['Poverty_Count'].median())
df['Poverty_Rate'] = df['Poverty_Rate'].fillna(df['Poverty_Rate'].median())
df['All_Child_Poverty_Count'] = df['All_Child_Poverty_Count'].fillna(df['All_Child_Poverty_Count'].median())
df['All_Poverty_Count'] = df['All_Poverty_Count'].fillna(df['All_Poverty_Count'].median())

# Check if there are still any missing values
df.isna().sum().sum()

np.int64(0)

## Combining EPA and poverty datasets

We want the corresponding poverty data for each water sample entry, which is by location and time, or State and Year (poverty data is on an annual basis). After some more cleaning, the abbreviated state column and the year column was renamed to match, and the two dataframes were merged.

Originally, any contaminant with a measured level at or below the MRL had 'NA' as their relative contamination level. A decision was then made to fill any of those NAs with zeros - since the levels were so low that they functionally zero. There were also some redundant columns - NAME (full state name) and STATE (numbers of states) were removed.

After merging, some samples show NAs for their poverty data. The samples from those areas are technically on tribal land, and therefore do not belong to a state - they are designated by their EPA regions instead. Any state analysis will therefore not include tribal data, but analysis based on EPA region will.

The merged dataframe was then split into 12 smaller dataframes for uploading to Github due to file size restrictions.

In [21]:
#Look at the poverty data
df.head()

,NAME,COUNTY,Median_Income,Child_Poverty_Count,Child_Poverty_Rate,Poverty_Count,Poverty_Rate,All_Child_Poverty_Count,All_Poverty_Count,STABREV,STATE,YEAR,county
62832,Autauga County,1,51868.0,2724.0,19.6,7397.0,13.5,13903.0,54762.0,AL,1,2013,1
62833,Baldwin County,3,47539.0,8994.0,20.8,27429.0,14.2,43240.0,192931.0,AL,1,2013,3
62834,Barbour County,5,30981.0,2393.0,42.4,6654.0,28.2,5644.0,23617.0,AL,1,2013,5
62835,Bibb County,7,39781.0,1664.0,35.6,4689.0,23.1,4679.0,20266.0,AL,1,2013,7
62836,Blount County,9,44392.0,3637.0,26.6,9878.0,17.2,13648.0,57315.0,AL,1,2013,9

In [22]:
# Look at the PFAS data
df_PFAS.head()

,PWSName,Size,FacilityName,FacilityWaterType,SamplePointName,SamplePointType,CollectionDate,SampleID,Contaminant,MRL,...,MonitoringRequirement,Region,State,Year,Month,Count_Less_Than,Count_Equals,Total_Values,Equals_Per_Total,Relative_Contamination_Level
0,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-09-27,810-79458-1,9Cl-PF3ONS,0.002,...,AM,1,01,2023,9,1,0,1,0.0,NaN
1,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-08-09,810-73346-1,NEtFOSAA,0.005,...,AM,1,01,2023,8,1,0,1,0.0,NaN
2,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-09-27,810-79458-1,PFNA,0.004,...,AM,1,01,2023,9,1,0,1,0.0,NaN
3,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-09-27,810-79458-1,PFHpA,0.003,...,AM,1,01,2023,9,0,1,1,1.0,1.166667
4,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-08-09,810-73346-1,PFTrDA,0.007,...,AM,1,01,2023,8,1,0,1,0.0,NaN

In [23]:
#Fill Relative Contamination Level NA's with zeros
df_PFAS.fillna({'Relative_Contamination_Level':0}, inplace=True)

In [24]:
# Rename columns so that they match across dataframes
df=df.rename(columns={'STABREV':'State','YEAR':'Year'})
df.head(9)

,NAME,COUNTY,Median_Income,Child_Poverty_Count,Child_Poverty_Rate,Poverty_Count,Poverty_Rate,All_Child_Poverty_Count,All_Poverty_Count,State,STATE,Year,county
62832,Autauga County,1,51868.0,2724.0,19.6,7397.0,13.5,13903.0,54762.0,AL,1,2013,1
62833,Baldwin County,3,47539.0,8994.0,20.8,27429.0,14.2,43240.0,192931.0,AL,1,2013,3
62834,Barbour County,5,30981.0,2393.0,42.4,6654.0,28.2,5644.0,23617.0,AL,1,2013,5
62835,Bibb County,7,39781.0,1664.0,35.6,4689.0,23.1,4679.0,20266.0,AL,1,2013,7
62836,Blount County,9,44392.0,3637.0,26.6,9878.0,17.2,13648.0,57315.0,AL,1,2013,9
62837,Bullock County,11,25937.0,974.0,44.2,3123.0,35.2,2205.0,8878.0,AL,1,2013,11
62838,Butler County,13,31041.0,1864.0,39.8,5731.0,28.8,4680.0,19911.0,AL,1,2013,13
62839,Calhoun County,15,37898.0,7301.0,28.7,24338.0,21.4,25447.0,113709.0,AL,1,2013,15
62840,Chambers County,17,33883.0,2497.0,34.7,7578.0,22.5,7197.0,33694.0,AL,1,2013,17

In [ ]:
# merge dataframes
big_df=pd.merge(df_PFAS,df,on=['State', 'Year'], how='outer')
big_df.head()

In [ ]:
#Drop unnecessary columns. Samples with NA poverty data are those from tribal land.
big_df=big_df.drop(['NAME','STATE'],axis=1)
big_df.isna().sum()

In [ ]:
'''Splitting up dataframe for export and upload to Github'''

#Split into 12 separate files by rows

#Set split size
split_size=len(big_df)//12

#Split big_df
df1 = big_df.iloc[:split_size]
df2 = big_df.iloc[split_size:2*split_size]
df3 = big_df.iloc[2*split_size:3*split_size]
df4 = big_df.iloc[3*split_size:4*split_size]
df5 = big_df.iloc[4*split_size:5*split_size]
df6 = big_df.iloc[5*split_size:6*split_size]
df7 = big_df.iloc[6*split_size:7*split_size]
df8 = big_df.iloc[7*split_size:8*split_size]
df9 = big_df.iloc[8*split_size:9*split_size]
df10 = big_df.iloc[9*split_size:10*split_size]
df11 = big_df.iloc[10*split_size:11*split_size]
df12 = big_df.iloc[11*split_size:]

#Array of segmented dfs
dfs=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]

#Export to csv
for i, file in enumerate(dfs,1):
    file.to_csv(f'df{i}.csv',index=False)