In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
ucmr3=pd.read_csv("https://github.com/chencheny249/DataMiningProjSpring2025/blob/5777a5bb0d8dd7eaa06f48730eb5c3c39cf282ae/UCMR3_All.txt?raw=true", encoding='ISO-8859-1', delimiter='\t')
ucmr3.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,0.07,µg/L,EPA 522,<,NaN,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,20.00,µg/L,EPA 300.1,=,160.0,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,0.20,µg/L,EPA 200.8,<,NaN,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,0.30,µg/L,EPA 200.8,=,72.0,SE1,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,1.00,µg/L,EPA 200.8,<,NaN,SE1,AM,1,01,NaN

In [3]:
#Read in data
ucmr4=pd.read_csv("https://github.com/chencheny249/DataMiningProjSpring2025/blob/5777a5bb0d8dd7eaa06f48730eb5c3c39cf282ae/UCMR4_All.txt?raw=true", encoding='ISO-8859-1', delimiter='\t')
ucmr4.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,17.342,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,16.800,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,10.882,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,0.748,SE2,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,0.748,SE2,AM,1,01,NaN

In [4]:
#Read in data
ucmr5=pd.read_csv("https://github.com/chencheny249/DataMiningProjSpring2025/blob/5777a5bb0d8dd7eaa06f48730eb5c3c39cf282ae/UCMR5_All.txt?raw=true", encoding='ISO-8859-1', delimiter='\t')
ucmr5.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.002,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.005,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.004,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.003,µg/L,EPA 533,=,0.0035,SE1,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.007,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN

In [109]:
#merge datasets
df=pd.concat([ucmr5, ucmr4, ucmr3], ignore_index=True, sort=False)
df.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.002,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.005,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.004,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.003,µg/L,EPA 533,=,0.0035,SE1,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.007,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN

In [120]:
#Check if merge worked
ucmr5.shape[0]+ucmr4.shape[0]+ucmr3.shape[0]==df.shape[0]

True

In [ ]:
#Check for NAs
df.isna().sum()

PWSID                            0
PWSName                          0
Size                             0
FacilityID                      60
FacilityName                    30
FacilityWaterType                0
SamplePointID                    0
SamplePointName                  0
SamplePointType                  0
AssociatedFacilityID       2503268
AssociatedSamplePointID    2503268
CollectionDate                   0
SampleID                         0
Contaminant                      0
MRL                         190359
Units                            0
MethodID                         0
AnalyticalResultsSign            0
AnalyticalResultValue      2850960
SampleEventCode                  0
MonitoringRequirement            0
Region                           0
State                            0
UCMR1SampleType            3363695
dtype: int64

FacilityID and FacilityName: since they refer to the same thing, any FacilityName with a NA will be filled with its corresponding FacilityID, if there is one.

AssociatedFacilityID and AssociatedSamplePointID: these are all null per the dataset technical documents. These columns will be deleted.

MRL: Certain contaminants do not have a MRL (minimum reporting level). This value does not have any health implications - it is just the lowest value that labs can report. NAs will be replaced with -1. It is the Anlaytical Result Value that tells us the actual concentration.

AnalyticalResultValue: per the technical documentation provided by the EPA, this value is NA when it is under the MRL. For all intents and purposes, these NAs will be replaced with 0 since they are lower than the minimum value labs need to report.

UCMR1SampleType: This is not needed for our analysis and will be deleted.

In [118]:
df.fillna({'AnalyticalResultValue':0}, inplace=True)
df.fillna({'FacilityName':df['FacilityID']}, inplace=True)
df.fillna({'MRL':-1}, inplace=True)

In [121]:
PWS_dict=dict(zip(df['PWSName'],df['PWSID']))
PWS_dict['Mashantucket Pequot Water System']

'010106001'

In [122]:
facilities_dict=dict(zip(df['FacilityName'],df['FacilityID']))

facilities_dict['MPTN WTP']

6

In [125]:
df=df.drop(['PWSID','FacilityID', 'SamplePointID', "MethodID", "AssociatedFacilityID","AssociatedSamplePointID","SampleEventCode","UCMR1SampleType"],axis=1)
df.head()

,PWSName,Size,FacilityName,FacilityWaterType,SamplePointName,SamplePointType,CollectionDate,SampleID,Contaminant,MRL,Units,AnalyticalResultsSign,AnalyticalResultValue,MonitoringRequirement,Region,State
0,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,9Cl-PF3ONS,0.002,µg/L,<,0.0000,AM,1,01
1,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,8/9/2023,810-73346-1,NEtFOSAA,0.005,µg/L,<,0.0000,AM,1,01
2,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,PFNA,0.004,µg/L,<,0.0000,AM,1,01
3,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,PFHpA,0.003,µg/L,=,0.0035,AM,1,01
4,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,8/9/2023,810-73346-1,PFTrDA,0.007,µg/L,<,0.0000,AM,1,01

In [127]:
df.isna().sum()

PWSName                  0
Size                     0
FacilityName             0
FacilityWaterType        0
SamplePointName          0
SamplePointType          0
CollectionDate           0
SampleID                 0
Contaminant              0
MRL                      0
Units                    0
AnalyticalResultsSign    0
AnalyticalResultValue    0
MonitoringRequirement    0
Region                   0
State                    0
dtype: int64

In [128]:
df.head(7)

,PWSName,Size,FacilityName,FacilityWaterType,SamplePointName,SamplePointType,CollectionDate,SampleID,Contaminant,MRL,Units,AnalyticalResultsSign,AnalyticalResultValue,MonitoringRequirement,Region,State
0,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,9Cl-PF3ONS,0.002,µg/L,<,0.0000,AM,1,01
1,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,8/9/2023,810-73346-1,NEtFOSAA,0.005,µg/L,<,0.0000,AM,1,01
2,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,PFNA,0.004,µg/L,<,0.0000,AM,1,01
3,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,PFHpA,0.003,µg/L,=,0.0035,AM,1,01
4,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,8/9/2023,810-73346-1,PFTrDA,0.007,µg/L,<,0.0000,AM,1,01
5,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,PFHxS,0.003,µg/L,<,0.0000,AM,1,01
6,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,ADONA,0.003,µg/L,<,0.0000,AM,1,01